<table border="0" width="500px" cellpadding="5" cellspacing="0">
	<tr>
		<td colspan = "2" style="background-color:{{ colors0 }}; text-align: center;">
			<h1 style="color:{{ colors4 }};">MERRY CHRISTMAS!</h1>
		</td>
	</tr>

	<tr>
		<td style="background-color:{{ colors1 }};" width="70%">
			<p style="color:{{ colors4 }};">{{{ message }}}</p>
		</td>
		<td style="background-color:{{ colors4 }};text-align:center;">
			<table cellpadding="5" cellspacing="0">
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="color:#FFFF00;">&nbsp;&#9733;&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors3 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td style="background-color:{{ colors3 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td style="background-color:{{ colors3 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
					<td style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors0 }};color:{{ colors4 }};">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr>
		<td colspan = "2" style="background-color:{{ colors0 }};text-align: right;">
			<p style="color:{{ colors4 }};">- Teochew Thunder</p>
		</td>
	</tr>
</table>