<table border="0">
	<tr>
		<td colspan = "2" cellpadding="5" style="background-color:{{ colors[0] }};"><h1 style="color:{{ colors[4] }};">MERRY CHRISTMAS!</h1></td>
	</tr>

	<tr>
		<td cellpadding="5" style="background-color:{{ colors[1] }};">
			<p style="color:{{ colors[5] }};">{{ message }}</p>
		</td>
		<td cellpadding="5" style="background-color:{{ colors[5] }};">
			<table>
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors[1] }};">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors[2] }};">&nbsp;</td>
					<td style="background-color:{{ colors[1] }};">&nbsp;</td>
					<td style="background-color:{{ colors[2] }};">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>
				<tr>
					<td style="background-color:{{ colors[2] }};">&nbsp;</td>
					<td style="background-color:{{ colors[3] }};">&nbsp;</td>
					<td style="background-color:{{ colors[2] }};">&nbsp;</td>
					<td style="background-color:{{ colors[3] }};">&nbsp;</td>
					<td style="background-color:{{ colors[2] }};">&nbsp;</td>
				</tr>
				<tr>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="background-color:{{ colors[0] }};">&nbsp;</td>
					<td style="">&nbsp;</td>
					<td style="">&nbsp;</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr>
		<td colspan = "2" cellpadding="5" style="background-color:{{ colors[1] }};text-align: right"><p style="color:{{ colors[5] }};">- Teochew Thunder</p></td>
	</tr>
</table>