<table border="0">
	<tr cellpadding="5" cellspacing="0">
		<td colspan = "2" cellpadding="5" style="background-color:{{ colors0 }}; text-align: center;"><h1 style="color:{{ colors4 }};">MERRY CHRISTMAS!</h1></td>
	</tr>

	<tr cellpadding="5" cellspacing="0">
		<td style="background-color:{{ colors1 }};">
			<p style="color:{{ colors4 }};">{{ message }}</p>
		</td>
		<td cellpadding="5" cellspacing="0" style="background-color:{{ colors5 }};text-align:center">
			<table>
				<tr>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
				</tr>
				<tr>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors1 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
				</tr>
				<tr>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors3 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors3 }};color:{{ colors4 }};">&nbsp;o&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors2 }};color:{{ colors4 }};">&nbsp;O&nbsp;</td>
				</tr>
				<tr>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="background-color:{{ colors0 }};color:{{ colors4 }};">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
					<td cellpadding="5" cellspacing="0" style="">&nbsp;</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr cellpadding="5" cellspacing="0">
		<td colspan = "2" style="background-color:{{ colors0 }};text-align: right"><p style="color:{{ colors4 }};">- Teochew Thunder</p></td>
	</tr>
</table>